body{
    background-color: #e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;              
}

label{
    padding-top: 10px;
    padding-left: 10px ;
    width: 150px;
    display: inline-block;
}
form{
    background:#ffffff ;
}
#error {
    
    background-color :rgb(225, 12, 189);
    padding: 5px;
    border : 1px #000000;
   
}

#resultat {
    
    background-color :rgb(59, 190, 42);
    padding: 5px;
    color: #ffffff;
}

#space{
    padding: 1%;
}